<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kasparasza.musicstructureapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MusicPlayer"
            android:label="@string/Label_01"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetTrainingTypeActivity"
            android:label="@string/Label_02"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseMusicActivity"
            android:label="@string/Label_03"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LinkYourAppsAndAccountsActivity"
            android:label="@string/Label_04"
            android:screenOrientation="portrait" />
    </application>

</manifest>